.lightgreyborder {
  border: 1px solid lightgrey;
}
.lightgreydottedborder {
  border: 1px dotted lightgrey;
}

.list-filter-item
{
	background: orange;
}

.list-filter-item:hover
{
	background: lightblue;
}

.centered
{
    margin-left:auto;
    margin-right:auto;
	text-align:center;
}
.orange {color: orange}

.slick-header-column {
   text-align: center;
   font-weight: bold;
}

.slick-footer-column {
   background-color: transparent;
}

.slick-header-column.ui-state-default {
	border-bottom:1px solid gray;
}

.slick-cell {
  text-align:center;
}

.slick-cell-left{
  position: absolute;

  border: 1px solid transparent;
  border-right: 1px dotted silver;
  border-bottom-color: silver;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  z-index: 1;
  padding: 1px 2px 2px 1px;
  margin: 0;

  white-space: nowrap;

  cursor: default;
}

