
<!-- NVD3 & D3 libraries -->
<link rel="stylesheet" href="{{page.root}}vendor/nvd3/0.0.1/nv.d3.css">

<script type="text/javascript" src="{{page.root}}vendor/d3/v2/d3.v2.min.js"></script>

<script type="text/javascript" src="{{page.root}}vendor/nvd3/0.0.1/nv.d3.js"></script>

<script type="text/javascript" src="{{page.root}}vendor/nvd3/0.0.1/tooltip.js"></script>
<script type="text/javascript" src="{{page.root}}vendor/nvd3/0.0.1/utils.js"></script>
<script type="text/javascript" src="{{page.root}}vendor/nvd3/0.0.1/models/legend.js"></script>
<script type="text/javascript" src="{{page.root}}vendor/nvd3/0.0.1/models/axis.js"></script>
<script type="text/javascript" src="{{page.root}}vendor/nvd3/0.0.1/models/scatter.js"></script>
<script type="text/javascript" src="{{page.root}}vendor/nvd3/0.0.1/models/line.js"></script>
<script type="text/javascript" src="{{page.root}}vendor/nvd3/0.0.1/models/lineChart.js"></script>


<!--<script type="text/javascript" src="https://raw.github.com/Moviri/nvd3/master/nv.d3.js"></script>-->

<!--
<script type="text/javascript" src="https://raw.github.com/Moviri/nvd3/master/src/tooltip.js"></script>
<script type="text/javascript" src="https://raw.github.com/Moviri/nvd3/master/src/utils.js"></script>
<script type="text/javascript" src="https://raw.github.com/Moviri/nvd3/master/src/models/legend.js"></script>
<script type="text/javascript" src="https://raw.github.com/Moviri/nvd3/master/src/models/axis.js"></script>
<script type="text/javascript" src="https://raw.github.com/Moviri/nvd3/master/src/models/scatter.js"></script>
<script type="text/javascript" src="https://raw.github.com/Moviri/nvd3/master/src/models/line.js"></script>
<script type="text/javascript" src="https://raw.github.com/Moviri/nvd3/master/src/models/lineChart.js"></script>


-->
