<script type="text/javascript" src="{{page.root}}vendor/datepicker/1.0.0/js/datepicker.js"></script>
<script type="text/javascript" src="{{page.root}}vendor/datepicker/1.0.0/js/DateRange.js"></script>
<script type="text/javascript" src="{{page.root}}vendor/datepicker/1.0.0/js/DateRangesWidget.js"></script>

<link rel="stylesheet" type="text/css" href="{{page.root}}vendor/datepicker/1.0.0/css/datepicker/base.css" />
<link rel="stylesheet" type="text/css" href="{{page.root}}vendor/datepicker/1.0.0/css/DateRangesWidget/base.css" />

