

<script type="text/javascript" src="{{page.root}}vendor/underscore/1.4.4/underscore.js"></script>
<script type="text/javascript" src="{{page.root}}vendor/backbone/1.0.0/backbone.js"></script>

<script type="text/javascript" src="{{page.root}}vendor/mustache/0.5.0-dev/mustache.js"></script>


<script type="text/javascript" src="{{page.root}}vendor/moment/2.0.0/moment.js"></script>
<script type="text/javascript" src="{{page.root}}vendor/crossfilter/1.1.0/crossfilter.min.js"></script>
<script type="text/javascript" src="{{page.root}}vendor/chroma.js/chroma.min.js"></script>

<script type="text/javascript" src="{{page.root}}vendor/date/date.js"></script>
<script type="text/javascript" src="{{page.root}}vendor/accounting/accounting.js"></script>
<script type="text/javascript" src="{{page.root}}vendor/filesaver/FileSaver.min.js"></script>
<!--
    ## Just use the all in one library version rather than individual files

  <script type="text/javascript" src="{{page.root}}dist/recline.js"></script>

  -->

  <!-- model and backends -->
  <script type="text/javascript" src="{{page.root}}src/model.js"></script>


  <script type="text/javascript" src="{{page.root}}src/backend.memory.js"></script>
  <script type="text/javascript" src="{{page.root}}src/backend.dataproxy.js"></script>
  <script type="text/javascript" src="{{page.root}}src/backend.gdocs.js"></script>
  <script type="text/javascript" src="{{page.root}}src/backend.elasticsearch.js"></script>
  <script type="text/javascript" src="{{page.root}}src/backend.csv.js"></script>
  <script type="text/javascript" src="{{page.root}}src/backend.jsonp.js"></script>

  <!-- views -->
  <script type="text/javascript" src="{{page.root}}src/view.grid.js"></script>
  <script type="text/javascript" src="{{page.root}}src/view.slickgrid.js"></script>
  <script type="text/javascript" src="{{page.root}}src/view.transform.js"></script>
  <script type="text/javascript" src="{{page.root}}src/view.graph.js"></script>
  <script type="text/javascript" src="{{page.root}}src/view.map.js"></script>
  <script type="text/javascript" src="{{page.root}}src/view.timeline.js"></script>
  <script type="text/javascript" src="{{page.root}}src/view.multiview.js"></script>



  <script type="text/javascript" src="{{page.root}}src/data.transform.js"></script>
  <script type="text/javascript" src="{{page.root}}src/data.aggregations.js"></script>
  <script type="text/javascript" src="{{page.root}}src/data.formatters.js"></script>
  <script type="text/javascript" src="{{page.root}}src/data.filters.js"></script>

  <script type="text/javascript" src="{{page.root}}src/data.statemanagement.js"></script>
  <script type="text/javascript" src="{{page.root}}src/data.fieldsutilities.js"></script>
  <script type="text/javascript" src="{{page.root}}src/data.faceting.js"></script>

  <script type="text/javascript" src="{{page.root}}src/widget.pager.js"></script>
  <script type="text/javascript" src="{{page.root}}src/widget.queryeditor.js"></script>
  <script type="text/javascript" src="{{page.root}}src/widget.filtereditor.js"></script>
  <script type="text/javascript" src="{{page.root}}src/widget.fields.js"></script>
  <script type="text/javascript" src="{{page.root}}src/widget.genericfilter.js"></script>
  <script type="text/javascript" src="{{page.root}}src/widget.facetviewer.js"></script>
  <script type="text/javascript" src="{{page.root}}src/widget.currentfilter.js"></script>
  <script type="text/javascript" src="{{page.root}}src/widget.datepicker.js"></script>

  <script type="text/javascript" src="{{page.root}}src/action.js"></script>

  <script type="text/javascript" src="{{page.root}}src/template.shapes.js"></script>


   <!-- extensions -->

<script type="text/javascript" src="{{page.root}}src/extensions/model/model.extensions.colors.js"></script>
<script type="text/javascript" src="{{page.root}}src/extensions/model/model.extensions.shapes.js"></script>
<script type="text/javascript" src="{{page.root}}src/extensions/model/model.extensions.customfilter.js"></script>

<script type="text/javascript" src="{{page.root}}src/extensions/data/data.colors.js"></script>
<script type="text/javascript" src="{{page.root}}src/extensions/data/data.shapes.js"></script>

<script type="text/javascript" src="{{page.root}}src/extensions/model/virtualmodel.js"></script>
<script type="text/javascript" src="{{page.root}}src/extensions/model/filteredmodel.js"></script>
<script type="text/javascript" src="{{page.root}}src/extensions/model/joinedmodel.js"></script>

 <script type="text/javascript" src="{{page.root}}src/extensions/views/view.indicator.js"></script>

 <script type="text/javascript" src="{{page.root}}src/extensions/views/view.kartograph.js"></script>
 <script type="text/javascript" src="{{page.root}}src/extensions/views/view.composed.js"></script>
 <script type="text/javascript" src="{{page.root}}src/extensions/views/view.rickshaw.js"></script>
 <script type="text/javascript" src="{{page.root}}src/extensions/views/view.nvd3.graph.js"></script>
<script type="text/javascript" src="{{page.root}}src/extensions/views/view.save_csv.js"></script>

<script type="text/javascript" src="{{page.root}}src/extensions/views/d3/view.d3.table.js"></script>
<script type="text/javascript" src="{{page.root}}src/extensions/views/d3/view.d3.sparkline.js"></script>
<script type="text/javascript" src="{{page.root}}src/extensions/views/d3/view.d3.treemap.js"></script>
<script type="text/javascript" src="{{page.root}}src/extensions/views/d3/view.d3.bullet.js"></script>
<script type="text/javascript" src="{{page.root}}src/extensions/views/d3/view.d3.chord.js"></script>
