<div class="css-treeview" style="max-height:900px;overflow:auto">
    <ul>
        <li><input type="checkbox" id="item-0" checked="checked"/><label for="item-0">MODELS</label>
            <ul>
                <li><a href="#" onclick="__loadPanels('genderGrids', 'genderGrids', '', 'genderModels', 'model_with_jsonp')">Model with JSONP Backend</a></li>
                <li><a href="#">Model with CSV Backend</a></li>
                <li><input type="checkbox" id="item-0-0" /><label for="item-0-0">Virtual Model</label>
	                <ul>
	                    <li><a href="#">Aggregations</a></li>
	                    <li><a href="#">Partition By</a></li>
	                    <li><a href="#">Totals and subtotals</a></li>
	                </ul>
	            </li>
                <li><a href="#">JoinedModel</a></li>
                <li><a href="#">FilteredModel</a></li>
                <li><a href="#">Filters and SortConditions</a></li>
                <li><a href="#">ColorSchemas</a></li>
                <li><a href="#">Shapes</a></li>
        	</ul>
		</li>

        <li><input type="checkbox" id="item-1" checked="checked"/><label for="item-1">CONTROLS</label>
            <ul>
                <li><a href="#">View.DatePicker</a></li>
                <li><input type="checkbox" id="item-1-0" /><label for="item-1-0">View.GenericFilter</label>
	                <ul>
	                    <li><a href="#">term</a></li>
	                    <li><a href="#">range</a></li>
	                    <li><a href="#">range_calendar</a></li>
	                    <li><a href="#">month_week_calendar</a></li>
	                    <li><a href="#">dropdown</a></li>
	                    <li><a href="#">dropdown_styled</a></li>
	                    <li><a href="#">dropdown_date_range</a></li>
	                    <li><a href="#">listbox</a></li>
	                    <li><a href="#">listbox_styled</a></li>
	                    <li><a href="#">list</a></li>
	                    <li><a href="#">legend</a></li>
	                    <li><a href="#">slider</a></li>
	                    <li><a href="#">slider_slider</a></li>
	                    <li><a href="#">range_slider</a></li>
	                    <li><a href="#">range_slider_styled</a></li>
	                    <li><a href="#">color_legend</a></li>
	                    <li><a href="#">multibutton</a></li>
	                    <li><a href="#">radiobuttons</a></li>
	                    <li><a href="#">hierarchic_radiobuttons</a></li>
	                </ul>
	            </li>
                <li><a href="#">View.MultiButtonDropdownFilter</a></li>
                <li><a href="#">View.Indicator</a></li>
                <li><a href="#">View.Composed</a></li>
        	</ul>
		</li>
		
        <li><input type="checkbox" id="item-2" checked="checked"/><label for="item-2">TABLES</label>
            <ul>
                <li><a href="#">View.Grid</a></li>
                <li><a href="#">View.d3.table</a></li>
                <li><input type="checkbox" id="item-2-0" /><label for="item-2-0">View.SlickGrid</label>
	                <ul>
	                    <li><a href="#">Standard Usage</a></li>
	                    <li><a href="#">Sortable columns</a></li>
	                    <li><a href="#">Choosing field order</a></li>
	                    <li><a href="#">Custom formatters</a></li>
	                </ul>
	            </li>
        	</ul>
		</li>
		
        <li><input type="checkbox" id="item-3" checked="checked"/><label for="item-3">CHARTS</label>
            <ul>
                <li><input type="checkbox" id="item-3-0" /><label for="item-3-0">Timelines with xCharts</label>
	                <ul>
	                    <li><a href="#">Basic usage</a></li>
	                    <li><a href="#">Color series</a></li>
	                    <li><a href="#">Custom Tooltips</a></li>
	                </ul>
	            </li>
                <li><input type="checkbox" id="item-3-1" /><label for="item-3-1">NVD3 charts</label>
	                <ul>
	                    <li><a href="#">Barchart</a></li>
	                    <li><a href="#">Horizontal Barchart</a></li>
	                    <li><a href="#">Pie Chart</a></li>
	                    <li><a href="#">Scatter Charts</a></li>
	                    <li><a href="#">Custom Tooltips</a></li>
	                </ul>
	            </li>
                <li><a href="#">View.d3.bullet</a></li>
                <li><a href="#">View.d3.bubble</a></li>
                <li><a href="#">View.d3.gravitybubble</a></li>
                <li><a href="#">View.d3.sparkline</a></li>
                <li><a href="#">View.Rickshaw</a></li>
                <li><a href="#">View.d3.cloud</a></li>
        	</ul>
		</li>
		
        <li><input type="checkbox" id="item-4" checked="checked"/><label for="item-4">MAPS</label>
            <ul>
                <li><a href="#">View.d3.ChoroplethMap</a></li>
                <li><input type="checkbox" id="item-4-0" /><label for="item-4-0">View.GoogleMaps</label>
	                <ul>
	                    <li><a href="#">Basic usage</a></li>
	                    <li><a href="#">Assigning click events</a></li>
	                    <li><a href="#">Clustering markers</a></li>
	                </ul>
	            </li>
                <li><input type="checkbox" id="item-4-1" /><label for="item-4-1">View.Kartograph</label>
	                <ul>
	                    <li><a href="#">Basic usage</a></li>
	                    <li><a href="#">Clustering markers</a></li>
	                </ul>
	            </li>
        	</ul>
		</li>
		
        <li><input type="checkbox" id="item-5" checked="checked"/><label for="item-5">ACTIONS</label>
            <ul>
                <li><input type="checkbox" id="item-5-0" /><label for="item-5-0">Selection Actions</label>
	                <ul>
	                    <li><a href="#">onClick</a></li>
	                    <li><a href="#">onHover</a></li>
	                </ul>
	            </li>
                <li><input type="checkbox" id="item-5-1" /><label for="item-5-1">Filter Actions</label>
	                <ul>
	                    <li><a href="#">onClick</a></li>
	                    <li><a href="#">onHover</a></li>
	                </ul>
	            </li>
        	</ul>
		</li>
    </ul>
</div>