
<!-- visualsearch -->


<script type="text/javascript" src="{{page.root}}vendor/visualsearch/0.3.0/build/visualsearch.js"></script>
<script type="text/javascript" src="{{page.root}}src/widget.visualsearch.js"></script>

<link rel="stylesheet" href="{{page.root}}vendor/visualsearch/0.3.0/build/visualsearch-datauri.css">
<link rel="stylesheet" href="{{page.root}}vendor/visualsearch/0.3.0/build/visualsearch.css">

<link rel="stylesheet" href="{{page.root}}vendor/visualsearch/0.3.0/css/icons.css">
<link rel="stylesheet" href="{{page.root}}vendor/visualsearch/0.3.0/css/reset.css">
<link rel="stylesheet" href="{{page.root}}vendor/visualsearch/0.3.0/css/workspace.css">