.s-table div.s-td.slick-cell {
	text-align: center;
	border-right: 1px dotted grey;
	border-bottom: 1px dotted grey;
}

#my_filter {
	margin-top:5px;
}

#my_indicator1, #my_indicator2 {
	max-width:250px;
}

.indicator .titlerow .title {
	font-size:18px;
	color: blue;
}

.indicator .descriptionrow .description {
	font-style:italic;
	color: #3030FF;
}

.indicator .value-cell .kpi_value {
	font-size:24px;
	font-weight: bold;
	color: purple;
	text-align:center;
}