<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} - Recline Data Explorer and Library</title>

    {% include jquery-deps.html %}
    {% include d3-nvd3-deps.html %}
    {% include recline-deps-moviri.html %}
    {% include bootstrap-deps.html %}
    {% include maps-deps.html %}
    {% include slickgrid-deps.html %}
    {% include kartograph-deps.html %}

    {% include visualsearch-deps.html %}
    {% include chosen-deps.html %}




</head>
<body>


{{content}}


</body>
</html>
